<!-- teacher/editor -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Teacher's Editor</title>
	<!-- Common styles and scripts -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-select/1.13.11/dist/css/bootstrap-select.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
	<!-- Checkbox validation-->
	<script th:src="@{/js/form-validation.js}" type="text/javascript"></script>

	<!-- Table -->
	<link rel="stylesheet" th:href="@{/webjars/datatables/1.13.5/css/jquery.dataTables.min.css}" />

</head>

<body>
	<!-- Include the main content of each template here -->
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container">
		<h1>Teacher's Editor</h1>
		<div class="row">
			<div class="col-md-4 mt-5">


				<!-- Display success message -->
				<div th:if="${param.success}" class="alert alert-success" role="alert">
					Success: <span th:text="${param.message}"></span><br>
				</div>

				<!-- Display error message -->
				<div th:if="${param.error}" class="alert alert-danger" role="alert">
					Error: <span th:text="${param.message}"></span><br>
				</div>

				<div class="card-body">
					<h3>
						<p class="card-text"><strong>First Name:</strong> <span th:text="${teacher.firstName}"></span>
						</p>
					</h3>
					<button type="button" class="btn btn-primary" data-toggle="collapse"
						data-target="#editFirstNameForm">Edit First Name</button>
				</div>

				<div id="editFirstNameForm" class="collapse">
					<form th:action="@{/teacher/editor/first_name}" method="post" th:object="${teacher}">
						<input type="hidden" name="userName" th:value="${teacher.login.userName}">
						<div class="form-teacher">
							<label for="first_name">First Name</label>
							<input type="text" class="form-control" id="firstName" name="firstName"
								th:value="${teacher.firstName}" required>
						</div>
						<button type="submit" class="btn btn-primary">Update First Name</button>
					</form>
				</div>

				<div class="card-body">
					<h3>
						<p class="card-text"><strong>Last Name:</strong> <span th:text="${teacher.lastName}"></span></p>
					</h3>
					<button type="button" class="btn btn-primary" data-toggle="collapse"
						data-target="#editLastNameForm">Edit Last Name</button>
				</div>

				<div id="editLastNameForm" class="collapse">
					<form th:action="@{/teacher/editor/last_name}" method="post" th:object="${teacher}">
						<input type="hidden" name="userName" th:value="${teacher.login.userName}">
						<div class="form-teacher">
							<label for="last_name">Last Name</label>
							<input type="text" class="form-control" id="lastName" name="lastName"
								th:value="${teacher.lastName}" required>
						</div>
						<button type="submit" class="btn btn-primary">Update Last Name</button>
					</form>
				</div>
				<div class="card-body">
					<h3>
						<p class="card-text"><strong>Remove Courses:</strong> </p>
					</h3>
					<button type="button" class="btn btn-primary" id="removeCourses" data-toggle="collapse"
						data-target="#removeCoursesForm">Remove Courses</button>
				</div>

				<!-- Remove Courses -->
				<div id="removeCoursesForm" class="collapse">
					<form th:action="@{/teacher/editor/courses}" id="removeCoursesForm" method="post"
						th:object="${teacher}">
						<input type="hidden" name="teacherId" th:value="${teacher.id}">
						<div class="form-teacher">
							<table id="removeCoursesTable" class="table table-bordered" style="width: 100%">
								<caption>Choose courses to remove from list below</caption>
								<thead>
									<tr>
										<th>Course Name</th>
										<th>Course Descriptions</th>
										<th>Select</th>
									</tr>
								</thead>

								<tbody >
									<tr th:each="course : ${teacher.courses}">
										<td th:text="${course.courseName}"></td>
										<td th:text="${course.courseDescription}"></td>
										<td>
											<input type="checkbox" class="form-check-input" th:name="selectedCourses"
												th:value="${course.id}">
										</td>
									</tr>
								</tbody>
								
							</table>

						</div>
						<button class="btn btn-primary" type="submit" name="action" value="remove"
							th:if="${not #lists.isEmpty(teacher.courses)}">Remove
							Courses</button>
					</form>
				</div>
				<!-- Add Courses Form -->
				<div class="card-body">
					<h3>
						<p class="card-text"><strong>Add Courses:</strong> </p>
					</h3>
					<button type="button" class="btn btn-primary" id="addCourses" data-toggle="collapse"
						data-target="#addCoursesForm">Add Courses</button>
				</div>

				<div id="addCoursesForm" class="collapse">
					<form th:action="@{/teacher/editor/courses}" method="post" id="addCoursesForm"
						th:object="${teacher}">
						<input type="hidden" name="teacherId" th:value="${teacher.id}">
						<div class="form-teacher">
							<table id="addCoursesTable" class="table table-bordered" style="width: 100%">
								<caption>Choose courses to add from the list below</caption>
								<thead>
									<tr>
										<th>Course Name</th>
										<th>Course Descriptions</th>
										<th>Select</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="course : ${coursesWithoutTeacher}">
										<td th:text="${course.courseName}"></td>
										<td th:text="${course.courseDescription}"></td>
										<td>
											<input type="checkbox" class="form-check-input" th:name="selectedCourses"
												th:value="${course.id}">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<button class="btn btn-primary" type="submit" name="action" value="add"
							th:if="${not #lists.isEmpty(coursesWithoutTeacher)}">Add Courses</button>
					</form>
				</div>

			</div>

		</div>
		<div th:replace="~{fragments/footer :: footer}"></div>

	</div>

	<!-- Checkbox validation-->
	<script>
		updateSubmitButtonStatus('removeCoursesForm');
		updateSubmitButtonStatus('addCoursesForm');
	</script>
	<!-- Include other common stylesheets and scripts here -->
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/bootstrap-select/1.13.11/dist/js/bootstrap-select.js}"></script>

	<!-- Table -->
	<script th:src="@{/webjars/datatables/1.13.5/js/jquery.dataTables.min.js}"></script>
	<!-- Add this after including the jQuery and DataTables scripts -->
	<script th:src="@{https://cdn.datatables.net/plug-ins/1.13.5/sorting/natural.js}"></script>
	<script>
		$(document).ready(function () {
			$('#removeCoursesTable').DataTable({
				paging: false,
				searching: true,
				scrollY: '200px',
				columnDefs: [
					{type: 'natural', targets: '_all'}
				]
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('#addCoursesTable').DataTable({
				paging: false,
				searching: true,
				scrollY: '200px',
				columnDefs: [
					{type: 'natural', targets: '_all'}
				]
			});
		});
	</script>
</body>

</html>