<!-- admin/find-student.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Find Student</title>
	<!-- Common styles and scripts -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-select/1.13.11/dist/css/bootstrap-select.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

	<!-- Table -->
	<link rel="stylesheet" th:href="@{/webjars/datatables/1.13.5/css/jquery.dataTables.min.css}" />

</head>

<body>
	<!-- Include the main content of each template here -->
	<div th:replace="~{fragments/header :: header}"></div>


	<div class="container">
		<h1 th:text="'PAGE HEADER'"></h1>
		<div class="row">
			<div class="col-lg-10 mt-5 mb-5">
				<table id="TABLEID" class="table table-bordered table-responsive" style="width: 100%">
					<caption th:text="'TABLE CAPTION'"></caption>
					<thead>
						<tr>
							<th>First Column Name</th>
							<th>Second Column Name</th>
							<th>Third Column Name</th>
						</tr>
					</thead>

					<tbody>

						<tr>
							<td>First Column Data</td>
							<td>Second Column Data</td>
							<td>Third Column Data</td>
						</tr>
					</tbody>


					<tfoot>
						<tr>
							<th>First Column Name</th>
							<th>Second Column Name</th>
							<th>Third Column Name</th>
						</tr>
					</tfoot>

				</table>

			</div>
		</div>

		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>
	<!-- Include other common stylesheets and scripts here -->
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/bootstrap-select/1.13.11/dist/js/bootstrap-select.js}"></script>

	<!-- Table -->
	<script th:src="@{/webjars/datatables/1.13.5/js/jquery.dataTables.min.js}"></script>
	<!-- Add this after including the jQuery and DataTables scripts -->
	<script th:src="@{https://cdn.datatables.net/plug-ins/1.13.5/sorting/natural.js}"></script>


	<script>
		$(document).ready(function () {
			$('#TABLEID').DataTable({
				paging: false,
				searching: true,
				scrollY: '500px',
				columnDefs: [
					{type: 'natural', targets: '_all'}
				]
			});
		});
	</script>

</body>



</html>