<!-- course/delete-course.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Delete Confirm</title>
	<!-- Common styles and scripts -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-select/1.13.11/dist/css/bootstrap-select.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

</head>

<body>
	<!-- Include the main content of each template here -->
	<div th:replace="~{fragments/header :: header}"></div>
	<div class="container mt-5">
		<h1 class="mb-4">Delete Confirmation</h1>

		<div class="card">
			<div class="card-body">
				<h2 class="card-title">Are You Sure You Want To Delete?</h2>
				<p class="card-text"><strong>Lecture Start Time:</strong> <span
						th:text="${#temporals.format(lecture.startTime, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
				<p class="card-text"><strong>Lecture Course Name:</strong> <span
						th:text="${lecture.course != null ? lecture.course.courseName : ''}"></span></p>
				<p class="card-text"><strong>Teacher:</strong> <span
						th:text="${lecture.course.teacher != null ? lecture.course.teacher.firstName + ' ' + lecture.course.teacher.lastName : ''}"></span>
				</p>

				<p class="card-text"><strong>Groups:</strong></p>
				<ul>
					<li th:if="${lecture.groups != null}" th:each="group : ${lecture.groups}"
						th:text="${group.groupName}">
						</li>
				</ul>


				<form th:action="@{/lecture/del}" method="post">
					<input type="hidden" name="lectureId" th:value="${lecture.id}" />
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</div>
			<div th:replace="~{fragments/footer :: footer}"></div>

		</div>
	</div>

	<!-- Include other common stylesheets and scripts here -->
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/bootstrap-select/1.13.11/dist/js/bootstrap-select.js}"></script>
</body>

</html>