<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lecture's Details</title>
	<!-- Common styles and scripts -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-select/1.13.11/dist/css/bootstrap-select.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

</head>

<body>
	<!-- Include the main content of each template here -->
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container mt-5">
		<h1>Lecture's Details</h1>
		<div class="card">
			<div class="card-body">
				<h2 class="card-title">Details</h2>

				<p class="card-text"><strong>Lecture Start Time:</strong><br><br> <span
						th:text="${#temporals.format(lecture.startTime, 'yyyy-MM-dd HH:mm:ss')}"></span></p>

				<p class="card-text"><strong>Lecture Course Name:</strong>
				<form th:if="${lecture.course != null}" th:action="@{/course/details}" method="get">
					<input type="hidden" name="courseId" th:value="${lecture.course.id}" />
					<button type="submit" class="btn btn-link" th:text="${lecture.course.courseName}"></button>
				</form>
				</p>

				<p class="card-text"><strong>Teacher:</strong>
				<form th:if="${lecture.course.teacher != null}" th:action="@{/teacher/personal}" method="get">
					<input type="hidden" name="userName" th:value="${lecture.course.teacher.login.userName}" />
					<button type="submit" class="btn btn-link"
						th:text="${lecture.course.teacher.firstName + ' ' + lecture.course.teacher.lastName}"></button>

				</form>
				</p>

				<p class="card-text"><strong>Groups:</strong>
				<ul>
					<li th:if="${lecture.groups != null}" th:each="group : ${lecture.groups}">
						<form th:action="@{/group/details}" method="get">
							<input type="hidden" name="groupId" th:value="${group.id}" />
							<button type="submit" class="btn btn-link" th:text="${group.groupName}"></button>
						</form>
					</li>
				</ul>
				</p>

				

				<p class="card-text"><strong>Students:</strong><br><br>
				<span th:text="${'Student''s Amount - ' + studentAmount}"></span>
				<form th:action="@{/lecture/students}" method="get">
					<input type="hidden" name="lectureId" th:value="${lecture.id}" />
					<button type="submit" class="btn btn-link"> Student's List</button>

				</form>
				</p>
				
				
			</div>

			<!-- Include the admin menu if the viewer is an admin -->
			<div th:replace="~{admin/managment/lecture :: menu}"></div>


			<!-- Include the admin menu if the viewer is an admin -->
			<div th:replace="~{fragments/footer :: footer}"></div>

		</div>
	</div>
	<!-- Include other common stylesheets and scripts here -->
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/bootstrap-select/1.13.11/dist/js/bootstrap-select.js}"></script>
</body>

</html>